body {
    height: 100vh;
    background-color: #ccc;
    color: #333;
}

h1 {
    color: royalblue;
}

.blue {
    height: 200px;
    position: relative;
    background-color: royalblue;
}
.blue .box {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: red;
    text-align: center;
}